<!-- footer Start -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-manu">
          <ul>
            <li><a href="#">About Us</a></li>
            <li><a href="{{ site.baseurl }}/aboutme">Acerca de mí</a></li>
            <li><a href="https://libertadph.wordpress.com/">Blog</a></li>
            <li><a href="https://flyingfugu.substack.com/">Blog (English)</a></li>
            <li><a href="#">Terms</a></li>
          </ul>
        </div>
        <p>Copyright &copy; Design &amp; Developed by <a href="http://www.themefisher.com">Themefisher</a>. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>
